.float_l{
    float:left;
}
.float_r{
    float:right;
}

.container.pushdown{
    margin-top: 5%;
}

.centerText{
    text-align:center;
}

.inlineblock{
    display:inline-block;
}

.widget-box.login{
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin-top: 3%;
    width: 400px;
}

.widget-box.register{
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    margin-top: 3%;
    width: 500px;
}

.heavyBlackBorder{
    border: 10px solid #3D3B3B;
}

.widget-box.login .form-horizontal .control-label{
    padding-top: 15px;
    width: 113px;
}

.login .form-horizontal .controls {
    margin-left: 110px;
}

.login .form-actions input[type="submit"]{
    padding: 7px 60px;
    font-size: 18px;
    position: relative;
    bottom: 38px;
    left: 12px;
}

.login .form-actions a[href="register.jsp"]{
    padding: 7.5px 49px;
    font-size: 18px;
    margin-left: -340px;
}

#twoButtons{
    height:40px;
}

.filterOptions{
    margin:3px 10px;
}
.filterOptions select{
    width:130px;
}

.register .form-actions input[type="submit"]{
    padding: 7px 60px;
    font-size: 18px;
    margin-left: -154px;
}

.userImageBadge{
    height: 235px;
    width: 500px;
    border-radius: 10px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    overflow: hidden;
}

.login.alert{
    width: 400px;
}

.table.users th{
    background-image: none;
    background-color: #F9F9F9; 
}

.table.users td{
    text-align:center;
}

.inputAddressShorter{
    width: 38.60% !important;
}

.addUser .form-actions input[type="submit"]{
    padding: 7px 60px;
    font-size: 18px;
    margin-left: 20px;
}


.widget-box .form-horizontal .control-label {
    padding-top: 15px;
    width: 18%;
    float: left;
}

.widget-box .form-horizontal .controls {
    margin-left: 20%;
    padding: 10px 0;
}

.widget-title.clickable{
    cursor:pointer;
}

.widget-title.clickable:hover{
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#FDFDFD), to(#EAEAEA));
    background-image: -webkit-linear-gradient(top, #FCFBFA 0%, whiteSmoke 100%);
    background-image: -moz-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -ms-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -o-linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    background-image: -linear-gradient(top, #FDFDFD 0%, #EAEAEA 100%);
    border-bottom: 1px solid #CDCDCD;
}

/** Logo **/
#header h1{
    background: url("../../img/lin/livingnet_logo.png") no-repeat scroll 0 0 transparent;
    height: 60px;
    left: 15px;
    line-height: 600px;
    overflow: hidden;
    position: relative;
    top: 14px;
    width: 191px;
}

#sidebar span.right-icon {
    float: right;
    margin-right: 20px; 
}

.input-prepend input{
    width:180px;
}

.form-horizontal .input-prepend{
    width:89%;
    font-size:14px;
    white-space:inherit;
}


#customCancelBut{
    padding: 7px 60px;
    font-size: 18px;
    margin-left: 20px;
}