<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/lin_db</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">Charisfyp!</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="org.hibernate.hql.ast.ASTQueryTranslatorFactory">org.hibernate.hql.ast.ASTQueryTranslatorFactory</property>
    <mapping resource="com/lin/entities/Facility.hbm.xml"/>
    <mapping resource="com/lin/entities/Booking.hbm.xml"/>
    <mapping resource="com/lin/entities/Block.hbm.xml"/>
    <mapping resource="com/lin/entities/UserTemp.hbm.xml"/>
    <mapping resource="com/lin/entities/FacilityType.hbm.xml"/>
    <mapping resource="com/lin/entities/Role.hbm.xml"/>
    <mapping resource="com/lin/entities/User.hbm.xml"/>
    <mapping resource="com/lin/entities/OpenRule.hbm.xml"/>
    <mapping resource="com/lin/entities/AdvanceRule.hbm.xml"/>
    <mapping resource="com/lin/entities/CloseRule.hbm.xml"/>
    <mapping resource="com/lin/entities/LimitRule.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
