.calendarWidth{
    width:868px;
}
.calendarContainer{
    padding:0px;
}
.bookingDetails{
    font-size: 16px;
    margin-top:-8px;
}
.inviteFriends{
    margin-top:10px;
}
.header{
    font-size:18px;
    font-weight:bold;
    margin-bottom:5px;
}
.btnmod{
    top: -4px;
    position:relative;
}
.inviteLabel{
    font-size: 12px;
    position:relative;
    top:-2px;
    cursor:pointer;
    margin-left:1px;
}
.shareBooking{
    border-top:1px solid #EEE;
    margin-top:15px;
    padding-top:5px;
}
.centerText{
    text-align:center;
}
.socialIcons{
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 4px 0 0 0;
    font-size: 22px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    width: 32px;
    height: 30px;
    line-height: 24px;
    background: #222;
    text-decoration: none;
    color: white;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.iconFacebook{
    border: 3px solid #3B5998;
}
.profilePic{
    height: 35px;
    margin-top: 2px;
    border-radius: 3px;
}
/* class: .btn-peace-2,  color theme: Peace. */
.btn-peace-2 { text-shadow: 0px -1px 0px #125542; color: #ffffff; background-color: #307360; background-image: -moz-linear-gradient(top, #4e917e, #125542); background-image: -ms-linear-gradient(top, #4e917e, #125542); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e917e), to(#125542)); background-image: -webkit-linear-gradient(top, #4e917e, #125542); background-image: -o-linear-gradient(top, #4e917e, #125542); background-image: linear-gradient(top, #4e917e, #125542); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e917e', endColorstr='#125542', GradientType=0); border-color: #307360 #125542 #125542 #307360; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-peace-2:hover, .btn-peace-2:active, .btn-peace-2.active, .btn-peace-2.disabled, .btn-peace-2[disabled] { background-color: #125542; }
.btn-peace-2:hover { color: #f8ffff; text-shadow: 0px -1px 0px #003724; }
.btn-peace-2:focus { color: #94d7c4; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #307360 #125542 #125542 #307360; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-peace-2.active, .btn-peace-2:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #94d7c4; }
/* end .btn-peace-2 */
/* class: .btn-peace-1,  color theme: Peace. */
.btn-peace-1 { text-shadow: 0px -1px 0px #00333b; color: #ffffff; background-color: #025159; background-image: -moz-linear-gradient(top, #206f77, #00333b); background-image: -ms-linear-gradient(top, #206f77, #00333b); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#206f77), to(#00333b)); background-image: -webkit-linear-gradient(top, #206f77, #00333b); background-image: -o-linear-gradient(top, #206f77, #00333b); background-image: linear-gradient(top, #206f77, #00333b); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#206f77', endColorstr='#00333b', GradientType=0); border-color: #025159 #00333b #00333b #025159; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-peace-1:hover, .btn-peace-1:active, .btn-peace-1.active, .btn-peace-1.disabled, .btn-peace-1[disabled] { background-color: #00333b; }
.btn-peace-1:hover { color: #caffff; text-shadow: 0px -1px 0px #00151d; }
.btn-peace-1:focus { color: #66b5bd; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #025159 #00333b #00333b #025159; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-peace-1.active, .btn-peace-1:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #66b5bd; }
/* end .btn-peace-1 */

.comingsoon{
    pointer-events:none;
    opacity:0.5;
    cursor:default;
}

.inlineblock{
    display:inline-block;
}

.hide{

}

#legend{
    float:right;
    font-size: 12px;
}

.ajaxSpinner {
    background: url("../img/ajax-loader.gif");
    height: 31px;
    width: 31px;
    position: absolute;
}
.calendarContainer .ajaxSpinner{
    top: 35em;
    left: 65em;
}

.fc-view-month .fc-event-skin{
    padding-right: 4px;
    width: 113px !important;
}
.fc-view-month .fc-event-time, .fc-event-title{
    float:none !important;
}

.closedSlot{
    background:#EEE;
    pointer-events:none;
}
.closedSlot:hover{
    cursor: not-allowed;
}

.fc-minor{
    cursor:pointer;
}

a.fc-event, .fc-event-draggable{
    cursor:auto !important;
}

#viewFacilityTypeModal{
    width: 100%;
    left: 0px;
    margin-left: 0;
}


.bs-docs-sidenav {
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url(../img/glyphicons-halflings-white.png);
    opacity: 1;
}
.bs-docs-sidenav.affix {
    top: 40px;
}
.bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
}

/** Community Wall Styles **/
.postWrapper{
    
}
.postWrapper .leftContent{
    float:left;
}
.postWrapper .leftContent .posterInfo{
    float:left;
    height: 100px;
    width: 44%;
    color:#777;
    text-align: center;
}
.postWrapper .leftContent .postIcon{
    float:left;
    margin: 1em 0 0 19%
}
.posterInfo .name{
    font-weight:bold;
}
.posterInfo .timestamp{
    font-size: 11px;
    line-height: 1em;
}

.post{
    float:left;
}
.post .baseContent{
    background: white;
    padding: 9px 12px;
    color:#555555;
}
.post .title{
    font-size: 15px;
    margin-bottom: 3px;
}
.attachment .eventMeta{
    font-weight:300;
}
.attachment.event{
    border-left: 5px solid #E8ECEF;
    padding: 0 8px;
    margin: 11px 0;
}
.eventTitle a{
    color:#597448;
    font-weight: bold;
    font-size: 14px;
}
.flagPost{
    font-size: 11px;
    position: relative;
    top: 13px;
}
.comment{
    margin-top: 3px;
    background: white;
    padding: 2px 5px;
}
.comment .content{
    width:85%;
    margin-left:1%;
}
.commentArea .replyArea input{
    width: 90%;
    margin: 0.4em 0 0 0.5em;
}
.float_r{
    float:right;
}
.float_l{
    float:left;
}
.clearfix{
    clear:both;
}

/** Profile Page **/
.profileTopWrapper{
    background:white;
    padding: 1em 0;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.13);
}
.newProfilePicLink{
    margin:-35em 0 0 7.3em;
}
.profileMainImgArea{
    width:200px !important;
}
.profileContent{
    font-size: 14px;
    line-height: 1.6em;
    font-weight: 300;
}
.profileContent b{
    font-weight:400;
}
.timeline{
    width: 3px;
    height: 800px;
    background: #67AFB9;
    display: inline-block;
    position: relative;
    left: 28px;
    top: -65px;
    z-index: -10000;
    border-left: 1px solid green;
    border-right: 1px solid green;
}
h1{
    color:#597448;
    text-shadow: 0px 1px 0px #0C4B0C
}

.wallicon{
    height:60px;
    width:60px;
    border-radius:100px;
}
.wallicon.shoe{
    background:url("../img/wall_shoeicon.png");
}

#facilitytypedescription{
    width:auto;
}

#facilityDropDown{
    width:100%;
}