.disabled{
    pointer-events:none;
}
.bigDropdown{
    font-size: 21px;
    height: 47px;
}
.calendarWidth{
    width:868px;
}
.calendarContainer{
    padding:0px;
}
.bookingDetails{
    font-size: 16px;
    margin-top:-8px;
}
.inviteFriends{
    margin-top:10px;
}
.header{
    font-size:18px;
    font-weight:bold;
    margin-bottom:5px;
}
.btnmod{
    top: -4px;
    position:relative;
}
.inviteLabel{
    font-size: 12px;
    position:relative;
    top:-2px;
    cursor:pointer;
    margin-left:1px;
}
.shareBooking{
    border-top:1px solid #EEE;
    margin-top:15px;
    padding-top:5px;
}
.centerText{
    text-align:center;
}
.socialIcons{
    display: inline-block;
    margin: 10px 10px 0 0;
    padding: 4px 0 0 0;
    font-size: 22px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    width: 32px;
    height: 30px;
    line-height: 24px;
    background: #222;
    text-decoration: none;
    color: white;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
.iconFacebook{
    border: 3px solid #3B5998;
}
.profilePic{
    height: 35px;
    margin-top: 2px;
    border-radius: 3px;
}
/* class: .btn-peace-2,  color theme: Peace. */
.btn-peace-2 { text-shadow: 0px -1px 0px #125542; color: #ffffff; background-color: #307360; background-image: -moz-linear-gradient(top, #4e917e, #125542); background-image: -ms-linear-gradient(top, #4e917e, #125542); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e917e), to(#125542)); background-image: -webkit-linear-gradient(top, #4e917e, #125542); background-image: -o-linear-gradient(top, #4e917e, #125542); background-image: linear-gradient(top, #4e917e, #125542); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e917e', endColorstr='#125542', GradientType=0); border-color: #307360 #125542 #125542 #307360; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-peace-2:hover, .btn-peace-2:active, .btn-peace-2.active, .btn-peace-2.disabled, .btn-peace-2[disabled] { background-color: #125542; }
.btn-peace-2:hover { color: #f8ffff; text-shadow: 0px -1px 0px #003724; }
.btn-peace-2:focus { color: #94d7c4; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #307360 #125542 #125542 #307360; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-peace-2.active, .btn-peace-2:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #94d7c4; }
/* end .btn-peace-2 */
/* class: .btn-peace-1,  color theme: Peace. */
.btn-peace-1 { text-shadow: 0px -1px 0px #00333b; color: #ffffff; background-color: #025159; background-image: -moz-linear-gradient(top, #206f77, #00333b); background-image: -ms-linear-gradient(top, #206f77, #00333b); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#206f77), to(#00333b)); background-image: -webkit-linear-gradient(top, #206f77, #00333b); background-image: -o-linear-gradient(top, #206f77, #00333b); background-image: linear-gradient(top, #206f77, #00333b); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#206f77', endColorstr='#00333b', GradientType=0); border-color: #025159 #00333b #00333b #025159; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-peace-1:hover, .btn-peace-1:active, .btn-peace-1.active, .btn-peace-1.disabled, .btn-peace-1[disabled] { background-color: #00333b; }
.btn-peace-1:hover { color: #caffff; text-shadow: 0px -1px 0px #00151d; }
.btn-peace-1:focus { color: #66b5bd; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #025159 #00333b #00333b #025159; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-peace-1.active, .btn-peace-1:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #66b5bd; }
/* end .btn-peace-1 */

/* class: .btn-peace-4,  color theme: Peace. */
.btn-peace-4 { text-shadow: 0px -1px 0px #77bb6d; color: #ffffff; background-color: #95D98B; background-image: -moz-linear-gradient(top, #b3f7a9, #77bb6d); background-image: -ms-linear-gradient(top, #b3f7a9, #77bb6d); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3f7a9), to(#77bb6d)); background-image: -webkit-linear-gradient(top, #b3f7a9, #77bb6d); background-image: -o-linear-gradient(top, #b3f7a9, #77bb6d); background-image: linear-gradient(top, #b3f7a9, #77bb6d); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3f7a9', endColorstr='#77bb6d', GradientType=0); border-color: #95D98B #77bb6d #77bb6d #95D98B; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-peace-4:hover, .btn-peace-4:active, .btn-peace-4.active, .btn-peace-4.disabled, .btn-peace-4[disabled] { background-color: #77bb6d; }
.btn-peace-4:hover { color: #ffffff; text-shadow: 0px -1px 0px #599d4f; }
.btn-peace-4:focus { color: #f9ffef; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #95D98B #77bb6d #77bb6d #95D98B; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-peace-4.active, .btn-peace-4:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #f9ffef; }
/* end .btn-peace-4 */

/* class: .btn-decaying-with-elegance-3,  color theme: Decaying with Elegance */
.btn-decaying-with-elegance-3 { text-shadow: 0px -1px 0px #787659; color: #ffffff; background-color: #969477; background-image: -moz-linear-gradient(top, #b4b295, #787659); background-image: -ms-linear-gradient(top, #b4b295, #787659); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b4b295), to(#787659)); background-image: -webkit-linear-gradient(top, #b4b295, #787659); background-image: -o-linear-gradient(top, #b4b295, #787659); background-image: linear-gradient(top, #b4b295, #787659); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4b295', endColorstr='#787659', GradientType=0); border-color: #969477 #787659 #787659 #969477; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-decaying-with-elegance-3:hover, .btn-decaying-with-elegance-3:active, .btn-decaying-with-elegance-3.active, .btn-decaying-with-elegance-3.disabled, .btn-decaying-with-elegance-3[disabled] { background-color: #787659; }
.btn-decaying-with-elegance-3:hover { color: #ffffff; text-shadow: 0px -1px 0px #5a583b; }
.btn-decaying-with-elegance-3:focus { color: #faf8db; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #969477 #787659 #787659 #969477; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-decaying-with-elegance-3.active, .btn-decaying-with-elegance-3:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #faf8db; }
/* end .btn-decaying-with-elegance-3 */

/* class: .btn-rhubarbarian-3,  color theme: Rhubarbarian */
.btn-rhubarbarian-3 { text-shadow: 0px -1px 0px #803330; color: #ffffff; background-color: #9E514E; background-image: -moz-linear-gradient(top, #bc6f6c, #803330); background-image: -ms-linear-gradient(top, #bc6f6c, #803330); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bc6f6c), to(#803330)); background-image: -webkit-linear-gradient(top, #bc6f6c, #803330); background-image: -o-linear-gradient(top, #bc6f6c, #803330); background-image: linear-gradient(top, #bc6f6c, #803330); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc6f6c', endColorstr='#803330', GradientType=0); border-color: #9E514E #803330 #803330 #9E514E; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-rhubarbarian-3:hover, .btn-rhubarbarian-3:active, .btn-rhubarbarian-3.active, .btn-rhubarbarian-3.disabled, .btn-rhubarbarian-3[disabled] { background-color: #803330; }
.btn-rhubarbarian-3:hover { color: #ffffff; text-shadow: 0px -1px 0px #621512; }
.btn-rhubarbarian-3:focus { color: #ffb5b2; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); border-color: #9E514E #803330 #803330 #9E514E; border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.25); }
.btn-rhubarbarian-3.active, .btn-rhubarbarian-3:active { background-image: none; -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); color: #ffb5b2; }
/* end .btn-rhubarbarian-3 */

.comingsoon{
    pointer-events:none;
    opacity:0.5;
    cursor:default;
}

.inlineblock{
    display:inline-block;
}

.hide{

}

#legend{
    float:right;
    font-size: 12px;
}

.ajaxSpinner {
    background: url("../img/ajax-loader.gif");
    height: 31px;
    width: 31px;
    position: absolute;
}

.ajaxSpinnerSmall{
    background: url("../img/ajax-loader-small.gif");
    height: 16px;
    width: 16px;
    position: relative;
}

.calendarContainer .ajaxSpinner{
    top: 35em;
    left: 65em;
}

.fc-view-month .fc-event-skin{
    padding-right: 4px;
    width: 113px !important;
}
.fc-view-month .fc-event-time, .fc-event-title{
    float:none !important;
}

.closedSlot{
    background:#EEE;
    pointer-events:none;
}
.closedSlot:hover{
    cursor: not-allowed;
}

.fc-minor{
    cursor:pointer;
}

a.fc-event, .fc-event-draggable{
    cursor:auto !important;
}

#viewFacilityTypeModal{
    width: 100%;
    left: 0px;
    margin-left: 0;
}


.bs-docs-sidenav {
    width: 228px;
    margin: 30px 0 0;
    padding: 0;
    background-color: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
    display: block;
    width: 190px \9;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
    background-image: url(../img/glyphicons-halflings-white.png);
    opacity: 1;
}
.bs-docs-sidenav.affix {
    top: 40px;
}
.bs-docs-sidenav.affix-bottom {
    position: absolute;
    top: auto;
    bottom: 270px;
}

/** Community Wall Styles **/
.postWrapper{
    margin-bottom: 3em;
}
.postWrapper .leftContent{
    float:left;
}
.postWrapper .leftContent .posterInfo{
    float:left;
    height: 100px;
    width: 44%;
    color:#777;
    text-align: center;
}
.postWrapper .leftContent .postIcon{
    float:left;
    margin: 1em 0 0 19%
}
.posterInfo .name{
    font-weight:bold;
}
.posterInfo .timestamp, .comment .timestamp{
    font-size: 11px;
    line-height: 1em;
}
.comment .timestamp{
    margin-top: 0.3em;
    color: #888;
}

.post{
    float:left;
}
.post .baseContent{
    background: white;
    padding: 9px 12px;
    color:#555555;
}
.post .baseContent.newPost{
    padding-bottom: 0px;
}

.guestList{
    float:right;
    z-index:1000;
}

.newPost .name{
    font-weight: bold;
    position: relative;
    top: -0.12em;
    font-size: 14px;
}
.post .title{
    font-size: 15px;
    margin-bottom: 3px;
}
.attachment .eventMeta{
    font-weight:300;
}
.attachment.event{
    border-left: 5px solid #E8ECEF;
    padding: 0 8px;
    margin: 11px 0;
}
.eventTitle a{
    color:#597448;
    font-weight: bold;
    font-size: 14px;
}
.flagPost{
    font-size: 11px;
    position: relative;
    top: 3px;
}
.comment{
    margin-top: 3px;
    background: white;
    padding: 2px 5px;
}
.comment .content{
    width:85%;
    margin-left:1%;
}
.linkBar{
    margin-top:0.6em;
}
.taggedUsers{
    padding: 5px;
    border-radius: 3px;
    margin: 6px 2px;
    font-weight: bold;
    font-size: 11px;
}
.commentArea .replyArea input{
    width:87%;
    margin: 0.4em 0 0 0.5em;
}
.commentArea .ajaxSpinnerSmall{
    margin-top: 11px;
}
.float_r{
    float:right;
}
.float_l{
    float:left;
}
.clearfix{
    clear:both;
}
.postWrapper .profilePic{
    height:75px;
    width:75px;
}
.comment .profilePic{
    margin-top: 3px;
    height:35px;
    width:35px;
}
.makePost{
    width: 98%;
    height: 3em;
}
.optionsBar{
    border-top: 1px solid #CCC;
    padding-top: 4px;
}
.optionsBar select{
    width:130px;
}
.optionsBar span{
    position: relative;
    top: -4px;
}

.resultsPic{
    height:25px;
    width:25px;
    position:relative;
    top:-1em;
    left:2px;
}
.resultsName{
    font-weight:bold;
}
.resultsUsername{
    font-size:10px;
    color:grey;
}

.postSideBlock{
    height:100px;
}
.postSideBlock .header{
    background: #FEDDDF;
    border-left: 5px solid #FEC2C5;
    color: #FC575E;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 7px 10px;
    margin: 0 0 10px;
    font-weight: 700;
    line-height: 1.2em;
}
.likerSpace a{
    margin-left: 3px;
    display: inline-block;
    margin-bottom: 3px;
}
.sideHeaderBtn{
    float: left;
    width: 30%;
    background: #E48388;
    height: 35px;
}
.sideHeaderBtn .txt{
    font-size:12px;
    color:white;
}

/** Profile Page **/
.profileTopWrapper{
    background:white;
    padding: 1em 0;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.13);
}
.newProfilePicLink{
    margin:-35em 0 0 7.3em;
}
.profileMainImgArea{
    width:200px !important;
}
.profileContent{
    font-size: 14px;
    line-height: 1.6em;
    font-weight: 300;
}
.profileContent b{
    font-weight:400;
}
.timeline{
    width: 3px;
    height: 800px;
    background: #67AFB9;
    display: inline-block;
    position: relative;
    left: 28px;
    top: -65px;
    z-index: -10000;
    border-left: 1px solid green;
    border-right: 1px solid green;
}
h1{
    color:#597448;
    text-shadow: 0px 1px 0px #0C4B0C
}
.datelabel{
    font-size:20px;
    color:#00000;
    z-index: 3;
}

.wallicon{
    height:60px;
    width:60px;
    border-radius:100px;
}
.wallicon.INVITE{
    background:url("../img/wall_inviteicon.png");
}
.wallicon.REQUEST{
    background:url("../img/wall_requesticon.png");
}
.wallicon.ANNOUNCEMENT{
    background:url("../img/wall_announcementicon.png");
}
.wallicon.SHOUTOUT{
    background:url("../img/wall_shoutouticon.png");
}
.wallicon.DATE{
    background:url("../img/wall_date.png");
    z-index:-1;
}

#facilitytypedescription{
    width:auto;
}

#facilityDropDown{
    width:100%;
}

.form-horizontal .control-label{float:left;width:100px;padding-top:5px;text-align:left;}

.form-horizontal .controls{margin-left:10px;display:inline-block;padding-left:20px;}

.controls .time{
    width:50px;
    float:left;
}
.event_description {width:auto;}

.float-time{
    
}

.newSpan{
   display: inline;
    width:73%;
    margin-left:2.564102564%;
    background: #FFFFFF;
}

/** Event Wall Styles **/
.pushBottom{
    margin-bottom:10px;
}
.eventBasic .control-group{
    margin-bottom: 10px;
}
.postEvent .wide{
    width:263px;
}
input.shorty{
    width:109px;
}
select.shorty{
    width: 135px;
}
.gap{
    padding:8px;
}
.bookedLabel{
    top: -2px;
    left: 4px;
    position:relative;
}
/**.tagFriends ul{
    width: 200px;
    margin-left: 58px;
    display: inline-block;
}
.tagFriends .float_l{
    position: relative;
    top: .5em;
    float:left;
}**/